.navbar {
    display: flex;
    justify-content: space-around;
}

li {
    list-style: none;
}

.link-container {
    display: flex;
    justify-content: space-around;
    width: 66%;
}

.brand {
    width: 33%;
}